body{
    margin: 0;
    background-color: rgb(49, 49, 49);
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
    margin: 5px;
}
span{
    color:  rgb(255, 145, 0);
}
