@media (min-width:1024px){
    header{
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    header ul{
        display: flex;
        flex-direction: row;
        
    }
    header a{
        border: 0;
    }
    main{
        display: flex;
        gap: 1em;

    }
    .sidebar{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .cards{
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }
    .cards li{
        width: 300px;
        
    }
}