* {
    margin: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid black;
    
    div{
        display: flex;
        gap: 20px;
        margin-left: 40px;
    }
}

.content{
    
}